<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ROS.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 
  <system.web>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha "/>
    </httpHandlers>
    <!--<pages theme="App_Themes"></pages>-->
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  <appSettings>
    <add key ="validationsettings:UnobstruciveValidationMode" value ="None"/>
    <add key="SMTPuser" value="greenvalleyros@gmail.com"/>
    <add key="SMTPpassword" value="s@g@r123"/>
    <add key="Port" value="587"/>
    <add key="EmailPort" value="25"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSSL" value="true"/>


  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="greenvalleyros@gmail.com">
        <network host ="smtp.gmail.com" password="sagar123" port ="587" userName="Green Valley"/>
      </smtp>
    </mailSettings>


  </system.net>
</configuration>
